<nav class="navbar navbar-ct-primary" role="navigation-demo" style="height: 93">
    <div class="container">
        <div class="navbar-header">
            <a href="/">
                <img src="/logo.png" height="60">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-example-2">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <i class="fa fa-sign-in"></i>
                        Login
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-comment"></i>
                        KaKao
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-plus"></i>
                        Join
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>