{% extends 'layout.html' %}

{% block content %}
  <div class="timeline join-timeline">
    <h3 style="text-align: center;">회원가입</h3>
    <form id="join-form" action="/auth/join" method="post">
      <table class="join-tb">
        <tbody>
          <tr class="join-tb-tr">
            <td class="join-tb-td">
                <label for="join-email">email</label>
            </td>
            <td>
            <input id="join-email" class="join-control" type="email" name="email"></div>
            </td>
          </tr>
          <tr class="join-tb-tr">
            <td>
              <label for="join-nick">nickname</label>
            </td>
            <td>
              <input id="join-nick" class="join-control" name="nick"></div>
            </td>
          </tr>
          <tr class="join-tb-tr">
            <td>
              <label for="join-password">password</label>
            </td>
            <td>
              <input id="join-password" class="join-control" type="password" name="password">
            </td>
          </tr>
        </tbody>
      </table>
      <button id="join-btn" type="submit" class="btn btn-fill">JOIN</button>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}
