<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% include "partials/head.html" %}

    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript">
      function shareKakaotalk(postId, userNick) {
          Kakao.init("ead3aaab226fd82be7d5f3db0b0abeea");      // 사용할 앱의 JavaScript 키를 설정
          Kakao.Link.sendDefault({
                objectType:"feed"
              , content : {
                    title: userNick + '님의 게시글'   // 콘텐츠의 타이틀
                  , imageUrl: "https://ifh.cc/g/mVnD7j.png"   // 썸네일 이미지
                  , link : {
                        mobileWebUrl: "http://localhost:8001"+"/post/"+postId // 모바일 카카오톡에서 사용하는 웹 링크 URL
                      , webUrl: "http://localhost:8001"+"/post/"+postId  // PC버전 카카오톡에서 사용하는 웹 링크 URL
                  }
              }, buttons : [
                  { title:"게시글 확인"    // 버튼 제목
                      , link : {
                          mobileWebUrl: "http://localhost:8001"+"/post/"+postId  // 모바일 카카오톡에서 사용하는 웹 링크 URL
                        , webUrl: "http://localhost:8001"+"/post/"+postId // PC버전 카카오톡에서 사용하는 웹 링크 URL
                      }
                  }
              ]
          });
      }
  </script>
  </head>
  <body>
    {% include "partials/navbar.html" %}
    
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
            <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
            <div class="half">
              <div>팔로잉</div>
              <div class="count following-count">{{followingCount}}</div>
            </div>
            <div class="half">
              <div>팔로워</div>
              <div class="count follower-count">{{followerCount}}</div>
            </div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
        {% else %}
          <form id="login-form" action="/auth/login" method="post">
            <div class="login-group">
              <label for="email">이메일</label>
              <input id="email" class="form-control" type="email" name="email" required autofocus>
            </div>
            <div class="login-group">
              <label for="password">비밀번호</label>
              <input id="password" class="form-control" type="password" name="password" required>
            </div>
            <button id="login" type="submit"  class="btn btn-info">로그인</button>
            <a id="join" href="/join" class="btn btn-fill btn-info">회원가입</a>
            <a id="kakao" href="/auth/kakao" class="btn btn-fill btn-warning">카카오톡</a>
          </form>
        {% endif %}
        </div>
        {% if user and user.id %}
        <div class="suggestion">
          <div class="user-name">{{user.nick + '님을 위한 추천'}}</div>
          {% for suggestion in suggestions %}
          {% if not followerIdList.includes(suggestion.id) and suggestion.id !== user.id %}
          <div class="suggested">
            <input type="hidden" value="{{suggestion.id}}" class="suggestion-id">
            <div class="suggested-user">
              <div class="suggested-name">{{suggestion.nick}}</div>
              <div class="suggested-info">
                {{suggestion.createdAt.toString().split(' ')[1]}} 
                {{suggestion.createdAt.toString().split(' ')[2]}} 
                {{suggestion.createdAt.toString().split(' ')[3]}} 가입
              </div>
            </div>
            <div class="suggested-follow">follow</div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% block content %}
      {% endblock %}
    </div>
    <script src="/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/bootstrap.js" type="text/javascript"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    <script>
      document.querySelectorAll('.suggested-follow').forEach(function (tag) {
        tag.addEventListener('click', function () {
          const myId = document.querySelector('#my-id');
          if (myId) {
            const userId = tag.parentNode.querySelector('.suggestion-id').value;
            if (userId !== myId.value) {
              if (confirm('팔로잉하시겠습니까?')) {
                axios.post(`/user/${userId}/follow`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
        })
      });
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>